<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <div class="header">
      <h1>Dice Roll</h1>
    </div>
    <div class="info">
      <p>Please enter which dice you want to roll</p>
    </div>
  </body>
</html>
