<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Dice Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
    body {
      background-color: #f2e5d7;
    }

    blue {
      background-color: #639FAB;
    }

    blue a {
      color: #424C55;
    }

    brown {
      background-color: #886F68;
    }
    
    brown a {
      color: #3D2C2E;
    }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
